[data-row] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 34px;
  margin: 25px;
  border: 1px solid lightgray;
}

.row {
  z-index: -10;
}

[data-row].red {
    background-color: #f6c5c5;
}

[data-row].yellow {
  background-color: #ffffa9;
}

[data-row].green {
  background-color: #baf6ba;
}

[data-row].blue {
  background-color: aliceblue;
}

.stone {
  z-index: 10;
}

[data-color] {
  width: 25px;
  float: left;
}

[data-color="blue"] {
  height: 33px;
  width: 25px;
  background-color: blue;
}

[data-color="green"] {
  height: 40px;
  width: 50px;
  background-color: green;
}

[data-color="red"] {
  height: 50px;
  width: 75px;
  background-color: red;
}

[data-color="yellow"] {
  height: 60px;
  width: 100px;
  background-color: yellow;
}

#announce-game-won {
  font-size: 50px;
  text-align: center;
}

#scoreboard{
  display: grid;
  grid-template-columns: 30% 10% 20% 30% 10%;
  grid-template-areas: 
  "title title title title title"
  "nwins ascore bspace statsW stats2";
  font-size: 20px;
  
}
#titleBoard{
  grid-area: title;
  text-align: center;
  font-size: 40px;
}
#numberWins {
  grid-area: nwins;
  
}

#blanksspace {
  grid-area: bspace;
}
#scoreboard p{
  color: blue;
}

#actualScores{
  grid-area: ascore;
}
#statsWords{
  grid-area: statsW;

}
#stats {
  grid-area: stats2;
}
